.App {
  text-align: center;
}

.container {
    padding: 20px;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px lightgray;
}

.landscape {
  width: 80vw;
  height: 60vw;
  margin: 0 auto;
  padding: 0 30px;
}
.portrait {
  width: 60vw;
  height: 80vw;
  margin: 0 auto;
}

.footer {
    visibility: hidden;
}

@page {
    size: letter;
}

@media print {

    .container {
        padding: 0;
        border: none;
        box-shadow: none;
    }

  .rotator {
    transform: rotate(90deg);
  }
  .controls {
    display: none;
  }
  .landscape {
    width: 9in;
    height: 7.2in;
    margin: 0 auto;
    padding: 0 30px;
  }
  .portrait {
    width: 8in;
    height: 9.5in;
    margin: 0 auto;
  }
  .footer {
      visibility: visible;
      margin: 15px auto 0 auto;
      font-size: 12px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px auto;
  justify-content: center;
}

.button-group {
  margin: 0 10px;
}

.btn {
    border: none;
    color: white;
    padding: 6px 13px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}

.shift {
   background-color: #4CAF50;
}

.scale {
  background-color: #008CBA;
}

.orientation {
    background-color: #dddddd;
}

.active{
    background-color: #008CBA;
}

.month-range {
  font-size: 2em;
  padding-bottom: 20px;
  height: 5%;
}

.calendar {
    width: 100%;
    height: 89%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.week {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.day {
    background-color: white;
    width: 100%;
    border: .2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.weekend {
  background-color: #eee;
}

.date {
    padding: 5px;
    background-color: white;
    width: 18%;
    height: 20px;
}

.first-week {
  margin-top: 2px;
}

.first-day {
  margin-left: 2px;
  width: 99%;
}

.day-names {
  font-size: 1.4vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 3%;
  margin: 0 auto;
}

.day-name {
  width: 100%;
}

.controls {
  margin-bottom: 10px;
}

.textarea {
    height: 100%;
}

textarea {
    border: 0;
    resize: none;
    background: none;
    width: 80%;
    height: 90%;
    margin-top: 10px;
}
